<!DOCTYPE html
PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">    
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS_for_Textbox.css') }}">
</head> <body>
<div class="wrapper">
<div class="header"><h1>Verificador de Grupos de Whatsapp</h1></div>
<div class="body"><br><br>
<div class="border"><br><br>
<div class="marginformleft"> 
<form action="/regis" method="POST" >
<center><input type="submit" value=" REGISTRAR GRUPOS " style="font-size: larger"></center><br><br>
</form>
<form action="/actualiza" method="POST" >
<center><input type="submit" value=" ACTUALIZAR GRUPOS " style="font-size: larger"></center><br><br>
</form>
</div></div><br><br></div>
<div class="footer">
<marquee scrollamount="2" behavior="alternate"> <h1>VERIFICACION DE WHATSAPP</h1></marquee>
</div></div></body></html>